<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
</head>
<body>

{% if request.user.username %}
    <h1>Welcome {{ request.user.username }}</h1>
    <a href="/users/logout">Logout</a>
{% endif %}

<ol>
    {% for blog in my_blogs %}
        <li>
            <h1>{{ blog.name }}</h1>
            <p>{{ blog.description }}</p>
        </li>
    {% endfor %}
</ol>


<form method="POST">
    {% csrf_token %}
    <input name="blog_name">
    <input name="blog_description">

    <button type="submit">Submit</button>
</form>


</body>
</html>